<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Gift Randomizr</title>
	<meta name="description" content="">
	<meta name="keywords" content="Christmas, random, randomizer, gifts, presents">
	<meta name="author" content="Blackstone Media">

	<link rel='dns-prefetch' href='//unpkg.com/' />
	<link rel='dns-prefetch' href='//images.unsplash.com/' />

	<link href="main.css" type="text/css" rel="stylesheet">
	<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
</head>

<body>

	<svg style="display:none" xmlns="http://www.w3.org/2000/svg">
		<symbol id="plus" viewBox="0 0 512 512"><path d="M448 224H288V64h-64v160H64v64h160v160h64V288h160z"/></symbol>
		<symbol id="minus" viewBox="0 0 512 512"><path d="M64 224h384v64H64z"/></symbol>
		<symbol id="close" viewBox="0 0 512 512"><path d="M443.6 387.1L312.4 255.4l131.5-130c5.4-5.4 5.4-14.2 0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4-3.7 0-7.2 1.5-9.8 4L256 197.8 124.9 68.3c-2.6-2.6-6.1-4-9.8-4-3.7 0-7.2 1.5-9.8 4L68 105.9c-5.4 5.4-5.4 14.2 0 19.6l131.5 130L68.4 387.1c-2.6 2.6-4.1 6.1-4.1 9.8 0 3.7 1.4 7.2 4.1 9.8l37.4 37.6c2.7 2.7 6.2 4.1 9.8 4.1 3.5 0 7.1-1.3 9.8-4.1L256 313.1l130.7 131.1c2.7 2.7 6.2 4.1 9.8 4.1 3.5 0 7.1-1.3 9.8-4.1l37.4-37.6c2.6-2.6 4.1-6.1 4.1-9.8-.1-3.6-1.6-7.1-4.2-9.7z"/></symbol>
	</svg>

	<div id="app" class="randomizr">

		<section class="edit-list" v-show="!present">

			<header class="header">

		    <h1>Gifts Randomizr</h1>

		  </header>

			<div class="list">
				<div v-for="person in people" class="list-person" :key="person['.key']" >
					<input class="list-qty" type="number" v-model="person.count" name="quantity" min="0" placeholder="0">
					<label class="list-name">{{ person.name }}</label>
					<div class="list-controls">
						<button class="list-controller--inc" @click="person.count++"><svg class="icon"><use xlink:href="#plus" /></svg></button>
						<button class="list-controller--dec" @click="person.count > 0 ? person.count-- : null"><svg class="icon"><use xlink:href="#minus" /></svg></button>
						<button class="list-controller--rem" @click="removePerson(person)"><svg class="icon"><use xlink:href="#close" /></svg></button>
					</div>
				</div>
			</div>

			<form class="form-addPerson" v-on:submit.prevent="addPerson">
				<input class="form-qty" type="number" v-model="newPerson.count" name="quantity" min="0" placeholder="0">
				<input class="form-name" type="text" v-model="newPerson.name" placeholder="Name">
				<input class="btn" type="submit" value="Add Name">
			</form>

			<button @click="startRandomizr" class="btn btn-start">Start</button>

		</section>

		<section class="presentation" v-if="present" @click="iterator++">

			<div v-if="iterator < bowl.length">
				<h1>{{ selected.name }}</h1>
				<h3 v-if="selected.count > 0">{{ selected.count }} Gifts Remaining</h3>
				<h3 v-else>Last One, Make It Count</h3>
			</div>

			<div v-else>
				<h1>Merry Christmas</h1>
				<h3>The End</h3>
			</div>

		</section>

	</div>

	<script src="main.js" type="text/javascript"></script>

</body>

</html>
