.randomizr {
  padding: 2rem;
  height: 100vh;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* padding: 2rem; */
}
