/*---------------------------------------------*\
  Colors
\*---------------------------------------------*/

/// Use Semantic Styling Declarations
/// $color | $grey
/// $color--state | $grey--light

/// Functions from utils/md-tools/functions/colors
/// shade($color, $percentage) <== Used to darken a color
/// tint($color, $percentage)

$blue : #2e2e47;
$blue-light : tint($blue, 20%);
$blue-lighter : tint($blue, 40%);
$blue-dark : shade($blue, 20%);
$blue-darker : shade($blue, 40%);

$green : #73b691;
$green-light : tint($green, 20%);
$green-lighter : tint($green, 40%);
$green-dark : shade($green, 20%);
$green-darker : shade($green, 40%);

$red : #E53935;
$red-light : tint($red, 20%);
$red-lighter : tint($red, 40%);
$red-dark : shade($red, 20%);
$red-darker : shade($red, 40%);

$grey : #999;
$grey-light : tint($grey, 20%);
$grey-lighter : tint($grey, 40%);
$grey-dark : shade($grey, 20%);
$grey-darker : shade($grey, 40%);

$text-color : $grey-dark;

$link-color : $red;
$link-hover : shade($link-color, 80%); // Darker

.font-color {
	// &--blue {
	// 	color: $blue;
	// }
}

.bg-color {
	// &--green {
	// 	background-color: $green;
	// 	color: white;
	// 	a {
	// 		color: $blue;
	// 		&:hover { color: rgba($blue,0.7); }
	// 	}
	// }
}
