/*---------------------------------------------*\
  Core Base Styling
\*---------------------------------------------*/

html {
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  transition: none 0.2s ease-in-out;
}

body {
	color: $text-color;
}

.wrapper {
	max-width: $content-width;
	max-width: calc(#{$content-width} + #{$gutter-width * 2});
	margin-left: auto;
	margin-right: auto;
	padding-left: $gutter-width;
	padding-right: $gutter-width;
}

hr {
	margin-top: $gutter-width;
	margin-bottom: $gutter-width;
	border: 0;
	border-top: 1px solid $link-color;
}

table {

	.entry-content & {
		width: 100%;
		margin: $gutter-width auto;
		border-collapse: collapse;

		td,th {
	    padding: 0.5em 0;
		}

		th {
			color: $blue;
			border-bottom: 2px solid $link-color;
		}

		td {
			border-top: 1px solid $grey-lighter;
		}
	}

}
